<div class="staff">
<div class="members">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-xs-12 col-sm-4 member">
        <div class="firstmember"></div>
        <div class="staff-info text-center">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the Head-chef of the restaurant.
        He has 36 years of experience</p>
        <hr class="style-eight">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 member">
        <div class="secondmember text-center"></div>
        <div class="staff-info text-center">
           <h3>Charlie Trotter</h3>
        <p>Charlie is has 35 years of experience</p>
        <hr class="style-eight">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 member">
        <div class="thirdmember"></div>
        <div class="staff-info text-center">
           <h3>Emeril Lagasse</h3>
        <p>Emeril is has 48 years of experience</p>
        <hr class="style-eight">
        </div>
      </div>
      </div>
    </div>

</div>
</div>
</div>
</div>
<div class="menu-appe"></div>

<div class="menu" id="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 logo-menu">
        <div class="text-center menu-logo">
        </div>
      </div>
    </div>
        <div class="text-center">
          <h2>Appetizers</h2>
        </div>
    <div class="row">
      <% @appetizers.each do |appetizer|%>
      <% if appetizer.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= appetizer.name %></h3>
        </div>
        <div class="price">
          <p><%= appetizer.price %> ₪</p>
        </div>
        <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= appetizer.name %></h3>
        </div>
        <div class="des">
          <p><%= appetizer.description %></p>
        </div>
         <div class="price">
          <p><%= appetizer.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic-2"></div>


<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center">
          <h2>Salads</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @salads.each do |salad|%>
      <% if salad.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= salad.name %></h3>
        </div>
        <div class="price">
          <p><%= salad.price %> ₪</p>
        </div>
        <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= salad.name %></h3>
        </div>
        <div class="des">
          <p><%= salad.description %></p>
        </div>
         <div class="price">
          <p><%= salad.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic-3"></div>


<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center ">
          <h2>Starters</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @starters.each do |starter|%>
      <% if starter.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= starter.name %></h3>
        </div>
        <div class="price">
          <p><%= starter.price %> ₪</p>
        </div>
        <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= starter.name %></h3>
        </div>
        <div class="des">
          <p><%= starter.description %></p>
        </div>
         <div class="price">
          <p><%= starter.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic-4"></div>

<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center ">
          <h2>Meats</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @meats.each do |meat|%>
      <% if meat.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= meat.name %></h3>
        </div>
        <div class="price">
          <p><%= meat.price %> ₪</p>
        </div>
        <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= meat.name %></h3>
        </div>
        <div class="des">
          <p><%= meat.description %></p>
        </div>
         <div class="price">
          <p><%= meat.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic-6"></div>

<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center ">
          <h2>Sea Fruits</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @seafruits.each do |seafruit|%>
      <% if seafruit.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= seafruit.name %></h3>
        </div>
        <div class="price">
          <p><%= seafruit.price %> ₪</p>
        </div>
          <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= seafruit.name %></h3>
        </div>
        <div class="des">
          <p><%= seafruit.description %></p>
        </div>
         <div class="price">
          <p><%= seafruit.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic-5"></div>

<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center">
          <h2>Fishes</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @fishes.each do |fish|%>
      <% if fish.description.nil? %>
      <div class="col-xs-12 col-sm-6 menu-line dish">
        <div class="title">
          <h3><%= fish.name %></h3>
        </div>
        <div class="price">
          <p><%= fish.price %> ₪</p>
        </div>
        <br>
        <hr class="style-seven">
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-6 menu-line menu">
         <div class="title">
          <h3><%= fish.name %></h3>
        </div>
        <div class="des">
          <p><%= fish.description %></p>
        </div>
         <div class="price">
          <p><%= fish.price %> ₪</p>
        </div>
        <hr class="style-seven">
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic"></div>
