<%= render './shared/staff' %>
<div class="menu-appe"></div>
<%= render './shared/appetizers' %>
<div class="menu-pic-2"></div>
<%= render './shared/salads' %>
<div class="menu-pic-3"></div>
<%= render './shared/starters' %>
<div class="menu-pic-4"></div>
<%= render './shared/meats' %>
<div class="menu-pic-6"></div>
<%= render './shared/seafruits' %>
<div class="menu-pic-5"></div>
<%= render './shared/fishes' %>
<div class="menu-pic"></div>






